body{
    font-family: 'Papyrus', fantasy;
    height: 100%;
	background-image: url(../slike/bathroom4.jpg);
	
	background-color: white;
}
	


#tajmer{
    margin-top: 5px;
    display: inline-block;
    width: 50%;
    color: #e3746e;
    font-size: 45px;
	
}


#tajmer_title{
    display: inline-block;
    width: 13%;
    color: #e3746e;
    font-size: 45px;
    border-bottom: 5px solid #e3746e;
}


